footer.footer 
    .footer__logo 
        img(src='/img/logo-green.png', alt='Natour logo')
    ul.footer__nav 
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyright Feel free to use this project on the moon. You can't use it on Earth or else you will get zhaymer

//- for class with html nav u should use it like this nav.classname in pug
//- for div don't use div.classname just use .classname
//- if you want to use don't want to use a nested el on new line you can use : colon which will by default add a newline behind the scene but being the el on the same line like li: a
//- to include other pug files we just need to use include filename